<!DOCTYPE html>
<html  class="no-js" lang="en" ng-app="zaysoApp" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Refs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico?bust=2" >
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
  <div ng-controller="CeradUserInfoController">
    <div ng-show="user">
      <p>
        {{user.username}}
        <button ng-click="logout()">Log Out</button>
      </p>
    </div>
    <div ng-hide="user">
      <p>
        <button ng-click="login()">Log In</button>
      </p>
    </div>
  </div>
<div ng-view></div>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-route/angular-route.min.js"></script>
<script src="/vendor/angular-resource/angular-resource.min.js"></script>
<script src="/vendor/ngstorage/ngStorage.min.js"></script>
<script src="/app.js"></script>
<script src="/config.js"></script>
<script src="/modules/auth/auth.js"></script>
<script src="/modules/referee/referee.js"></script>
</body></html>